<main class="main">
    <h1>Bienvenido a la tienda</h1>
    <h3>Aquí podrás encontrar los mejores productos</h3>
    <p class="home-text">En esta tienda podrás encontrar todo lo que necesitas para tu ... favorita</p>
</main>